@import '/styles/mixins/colors.scss';

.button {
  border-radius: 5px;
  font-weight: bold;
  border: none;

  &.primary {
    padding: 1rem 3.125rem;
    background-color: $green-color;
    color: $white-color;
    font-size: 1rem;
  }

  &.secondary {
    padding: 1.25rem 4.375rem;
    background-color: $white-color;
    color: $purple-color;
    font-size: 1.375rem;
  }
}
