@import '/styles/mixins/colors.scss';

.text {
  h1 {
    color: $white-color;
    font-size: 71px;
    font-weight: bold;
  }

  p {
    color: $white-color;
    font-size: 30px;
    font-weight: lighter;
    // opacity: 0.8;
  }
}

.container {
  background-color: $purple-color;
}
