@import '/styles/mixins/colors.scss';
@import '/styles/mixins/padding.scss';

.container {
  @include Padding;
  padding-top: 13.75rem;
  height: 100vh;
  background-image: url('/images/fundoWelcome.svg');
  background-repeat: no-repeat;
  background-size: cover; // rever
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  h1 {
    color: $white-color;
    font-size: 4.375rem;
    font-weight: bold;
    line-height: 5.25rem;
    margin-bottom: 2.5rem;
  }

  p {
    color: $white-color;
    font-size: 1.875rem;
    font-weight: lighter;
    line-height: 2.625rem;
    margin-bottom: 3rem;
    opacity: 0.8;
  }
}

.image {
  text-align: end;

  img {
    margin: 0;
    padding: 0;
  }
}
