$purple-color: #380158;
$purple2-color: #350053;
$purple3-color: #26003b;

$white-color: #ffffff;
$white2-color: #f7f7f7;

$green-color: #0dc74f;
$green2-color: #0fce33;
$green3-color: #0aaa28;

$gray-color: #afafaf;
$gray2-color: #c9c9c9;
$gray3-color: #606060;
$gray4-color: #969696;

$dark-gray-color: #4a4a4a;
